{% extends "orders/base.html" %}

{% block title %}Order n°{{ order.id }}{% endblock %}
{% block content %}

<a href="{% url 'index' %}">Go back</a><br><br>
<div class="well">
  <div class="form-group">
    <label>Marketplace</label><br>
    <input type="text" class="form-control" value="{{ order.marketplace.name }}" disabled="disabled">
  </div>

  <div class="form-group">
    <label>Marketplace status</label><br>
    <input type="text" class="form-control" value="{{ order.marketplace_status }}" disabled="disabled">
  </div>

  <div class="form-group">
    <label>Order ID</label><br>
    <input type="text" class="form-control" value="{{ order.order_id }}" disabled="disabled">
  </div>

  <div class="form-group">
    <label>ID Flux</label><br>
    <input type="text" class="form-control" value="{{ order.id_flux }}" disabled="disabled">
  </div>

  <div class="form-group">
    <label>Lengow status</label><br>
    <input type="text" class="form-control" value="{{ order.lengow_status }}" disabled="disabled">
  </div>

  <a class="btn btn-default" href="{% url 'edit' order.id %}" role="button">Edit</a>

</div>


{% endblock %}