{% extends "orders/base.html" %}

{% block title %}Edit order n°{{ order.id }}{% endblock %}
{% block content %}

<a href="{% url 'detail' order.id %}">Go back</a><br><br>

<div class="well">
  <form action="{% url 'edit' order.id %}" method="post" class="form-horizontal">
    {% csrf_token %}
    {% include "orders/edit_order_form.html" %}
  </form>
</div>
{% endblock %}