{% extends "orders/base.html" %}

{% block title %}Orders list{% endblock %}
{% block content %}

<h3>Orders list</h3>

<div class="row">
  <div class="col-md-3">
    <div class="well">
      {% include "orders/search_order_form.html" %}
    </div>
  </div>
  <div class="col-md-9">
  <a class="btn btn-default" href="{% url 'add' %}" role="button">Add on order</a><br><br>
  {% if orders_list %}
    <table class="table table-hover table-bordered">
      <thead>
          <tr>
              <th>Order ID</th>
              <th>Marketplace status</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        {% for order in orders_list %}
          <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.marketplace_status }}</td>
            <td><a class="btn btn-default" href="{% url 'detail' order.id %}" role="button">View</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <p class="text-warning">There is no order.</p>
  {% endif %}
  </div>
</div>

{% endblock %}