<form action="{% url 'index' %}" method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="form-group">
    <label>{{ form.marketplace.label }}</label><br>
    {{ form.marketplace }}
  </div>
  <div class="form-group">
    <label>{{ form.marketplace_status.label }}</label><br>
    {{ form.marketplace_status }}
    <span class="label label-danger">{{ form.marketplace_status.errors.as_text }}</span>
  </div>
  <div class="form-group">
    <label>{{ form.order_id.label }}</label><br>
    {{ form.order_id }}
    <span class="label label-danger">{{ form.order_id.errors.as_text }}</span>
  </div>
  <div class="form-group">
    <label>{{ form.id_flux.label }}</label><br>
    {{ form.id_flux }}
    <span class="label label-danger">{{ form.id_flux.errors.as_text }}</span>
  </div>
  <div class="form-group">
    <label>{{ form.lengow_status.label }}</label><br>
    {{ form.lengow_status }}
    <span class="label label-danger">{{ form.lengow_status.errors.as_text }}</span>
  </div>
  <div class="form-group">
    <input class="form-control" type="submit" value="Search" />
  </div>
</form>